.button {
  padding: 2rem 3.4rem;
  border-radius: 3.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--white-two);
  background-color: transparent;
  border: solid 0.3rem var(--white-two);
  cursor: pointer;
}