.input-field {
  display: flex;
  align-items: center;
  gap: 1.014rem;
}

.input__label {
  color: #000000;
}

input {
  padding: 0.313rem 0.4rem 0.438rem;
  width: 100%;
  appearance: none;
  outline: none;
  border-radius: 7px;
  border: solid 1px #979797;
  transition: border-color var(--transition);
  font-size: 1rem;
}

input:hover {
  border-color: #000000;
}

