.list {
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;
  width: fit-content;

}

.list .card:not(:last-child){
  margin-bottom: 4.896rem;
}

.section-jogs .loader {
  margin: 0 auto;
  display: block;
}

.section-jogs .button-icon {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}