.let-me-section {
  margin: auto ;
  padding: 4.813rem 2.25rem 2.25rem;
  width: 100%;
  max-width: 31.438rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  border-radius: 2.75rem;
  background-color: var(--baby-purple);
}

.let-me-section__img {
  width: 100%;
  max-width: 10rem;
  color: var(--white-two);
}

@media (max-width: 48rem) {
  .let-me-section {
    background-color: var(--white-two);
    gap: 8.583rem;
  }

  .let-me-section__img {
    max-width: 13.333rem;
    color: var(--baby-purple);
  }

  .let-me-section .button {
    color: var(--baby-purple);
    border-color: var(--baby-purple);
  }
}